@font-face {
    font-family: "Freestyle Script";
    src: url("Fonts/FREESCPT.TTF") format(truetype);

    font-weight: normal;
    font-style: normal;
}

:root {
    --title-page-background: url("New Images/fairy-background.gif");
    --yes-button: url("New Images/yes-button.png");

    /* ---- Button variables ---- */
    --button-border-radius: 200px;
    --button-border-size: 2px;

    /* ---- Question Variables ---- */
    --question-width: var(--button-width);

    --button-width: clamp(200px, 80%, 600px);
    --button-font-size: clamp(16px, 3.5vw, 32px);
    --button-border-color: #F1597F;

    --question-font-size: clamp(18px, 4vw, 36px);
    --question-number-font-size: clamp(20px, 4.5vw, 40px);
    --fairy-image-width: clamp(200px, 60%, 600px);

    --footer-font-color: #51751B;
}

body {
    margin: 0;
    min-height: 100dvh;
    position: relative;

    text-align: center;

    font-family: "Freestyle Script", sans-serif;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: var(--title-page-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: -1;
}

body.question-mode::before {
    background-image: url("New Images/question-page-background.jpg");
}

h1 {
    font-size: var(--question-number-font-size);
    margin: 0; 
    margin-bottom: 0.5vh; 
}

footer {
    position: absolute;
    bottom: 2dvh;
    left: 0;
    width: 100%;

    text-align: center;
    padding: 1vh 0;
    color: var(--footer-font-color);
    font-size: clamp(20px, 3vw, 30px);
    font-family: "Freestyle Script", serif;
}

#start-screen {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#yes-button {
    position: absolute;
    top: 60vh;
    left: 50%;
    transform: translateX(-50%);

    width: clamp(150px, 25vw, 400px);
    height: auto;
}

#question-number {
    margin: 0 auto 0;
}

#question {
    width: 90%;
    max-width: 600px;
    font-size: var(--question-font-size);
    line-height: 1.3;
    margin: 0 0 1vh 0; 
    font-family: "NSimSun", "SimSun", "Songti SC", serif; 
}

#result {
    font-size: var(--button-font-size);
}

#final-fairy {
    border: 2px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 0;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;          
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1vh 0;    
}

.buttons button {
    width: 100%;                
    max-width: 100%;            
    min-height: auto; 
    padding: 1em 1.5em; 

    font-size: var(--button-font-size); 
    line-height: 1.4;           
    white-space: normal;        
    word-break: break-word;     
    
    text-align: center;

    color: black;
    border: var(--button-border-size) solid var(--button-border-color);
    border-radius: var(--button-border-radius);
    background-color: transparent;
    
    font-family: "NSimSun", "SimSun", "Songti SC", serif;
}

.bottom-result-page-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.result-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;
    gap: 2vh;                     
    flex: 1;
    padding: 5vh 2vw 2vh 2vw;      
    text-align: center;     
    margin-bottom: 0.25vh;
}

.all-fairies-container {
    display: flex;
    flex-direction: column;
    padding: 5vh 2vw 2vh 2vw;
    /* margin-bottom: 3vh; */
    padding: 5vh clamp(12px, 4vw, 40px) 2vh;
    gap: clamp(15px, 3vh, 25px);
}

.fairy-image-name-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    /* gap: clamp(3px, 1vh, 12px); */
    align-content: center;
}

.fairy-sprite {
    width: clamp(100px, 40vw, 500px);
    border: 2px solid black;
}

.fairy-name {
    font-family: "NSimSun", "SimSun", "Songti SC", serif; 
    color: black;
    font-size: clamp(14px, 3vw, 20px);
}

.fairy-image-name-description-container {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    gap: clamp(20px, 3vw, 30px);
    margin-bottom: 0.25vh;
}

.fairy-description {
    flex: 2 1 300px;
    font-family: "NSimSun", "SimSun", "Songti SC", serif; 
    font-size: clamp(18px, 3vw, 28px);
    color: black;
    width: clamp(100px, 60vw, 500px);
}

.container,
.result-container {
    padding-bottom: 8vh;
}

#button-container {
    display: flex;
    flex-direction: row;
    gap: clamp(10px, 4vw, 40px);
    margin-top: 0.25vh;
}

#button-container button {
    border: var(--button-border-size) solid var(--button-border-color);
    background-color: transparent;
    border-radius: var(--button-border-radius);
    color: var(--footer-font-color);

    width: 45%;              
    max-width: 200px;        
    padding: 0.5em 1em;

    font-size: calc(var(--button-font-size) * 0.7);
    line-height: 1.3;

    font-family: "NSimSun", "SimSun", "Songti SC", serif; 
}

#fairy-description {
    width: var(--button-width);
    font-family: "NSimSun", "SimSun", "Songti SC", serif; 
    font-size: clamp(16px, 3vw, 28px);
}

#final-fairy-image {
    width: var(--fairy-image-width); 
    max-width: 90vw;
    height: auto;
    border: 2px solid black;
}

* {
    box-sizing: border-box;
}